@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

*{
    color: rebeccapurple;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Raleway", sans-serif;
}