@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


.wrapper{
    background-color: #008f43;
}

/* NAVBAR */

.navbar-container {
    background-color: #008f43;
    height: 60px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px);
    max-width: 1300px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 10;
}

.navbar-container img {
    height: 45px;
    width: auto;
    pointer-events: none;
}

.navbar-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-container ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    /* background-color: cadetblue; */
    transition: .2s;
}

.navbar-container ul li:hover{
    background-color: #06994b;
}


.navbar-container .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-container .socials i {
    color: #fff;
    font-size: 25px;
}

/* HERO */

.hero-container {
    background-color: #008f43;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    padding-top: 50px;
    max-width: 1300px;
    margin: auto;
}
.hero-container .left{
    width: 50%;
    height: 100%;
    padding-left: 70px;
}

.hero-container .left h1{
    font-size: 70px;
    color: #fff;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero-container .left p{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero-container .left button{
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 15px;
    height: 45px;
    padding: 0 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.hero-container .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-container .right .hero-img{
    width: 400px;
    border-radius: 50%;
}

.hero-container .review{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    max-width: 270px;
    right: 0;
    bottom: -40px;
    box-shadow: 0px 5px 10px 0px #00000033;
}

.hero-container .review .top{
    display: flex;
    gap: 10px;
}

.hero-container .review .h1{
    font-size: 17px;
    color: #000;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hero-container .review .h1 span{
    font-size: 18px;
    color: #008f43;
    font-size: 18px;
}

.hero-container .review p{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    word-break: break-all;
    padding: 3px 0 5px;
    opacity: .7;
}

.hero-container .review img{
    height: 40px;
}

.hero-container .review button{
    background-color: #008f43;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    height: 40px;
    padding: 0 30px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    transition: .2s;
}

.hero-container .review button:hover{
    opacity: .8;
}

/* MENU */

.menu-container {
    background-color: #fff;
    min-height: 500px;
    width: 100%;
}

.restaurants-container {
    background-color: darkolivegreen;
    min-height: 500px;
    width: 100%;
}

.footer-container {
    background-color: cadetblue;
    min-height: 400px;
    width: 100%;
}

.about-container {
    background-color: darkorchid;
    min-height: 500px;
    width: 100%;
}