#navbar-container{
    background-color: cadetblue;
    height: 65px;
    width: 100%;
}

#hero-container{
    background-color: chocolate;
    min-height: 90vh;
    width: 100%;
}

#menu-container{
    background-color: khaki;
    min-height: 500px;
    width: 100%;
}

#restaurants-container{
    background-color: darkolivegreen;
    min-height: 500px;
    width: 100%;
}

#footer-container{
    background-color: cadetblue;
    min-height: 400px;
    width: 100%;
}

#about-container{
    background-color: darkorchid;
    min-height: 500px;
    width: 100%;
}

